*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Header section start */
header{
    width:100%;
    height: 50px;
    color:#fff;
    display: flex;
    padding: 0px 100px;
    align-items: center;
    background:#022d7c;
    justify-content: space-between;    
}

/* Header section start */ 
/* banner section start */
.banner{
    width: 100%;
    height: 600px;
    color: #fff;
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
                url(../img/Industrial.jpg); 
    background-size: cover;
    
}
.banner h1{
    font-size: 55px;
    font-weight: normal;
}
.banner h1 span{
    display: block;
    font-size: 77px;
    
    font-weight: 600;
}
.banner aside{
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    background: #022d7c;
    

} 
.banner aside input[type],
.banner aside textarea,
.banner aside button
{
    width: 100%;
    height: 40px;
    margin: 5px;
}
.banner aside input[placeholder]{
    text-align: center;
}
.banner aside textarea[placeholder]{
    text-align: center;
    padding-top: 60px;
    font-size: 16px;
}
.banner aside form table{
    padding-right: 10px;
}
/* banner section start */

/* Our feature section start */
.feature{
    width:100%;
    height: auto;
    display: flex;
    padding: 60px 100px;
    color: #022d7c;
    justify-content: space-between;
}
.feature div{
    width: 30%;
    height: 400px;
}
.feature div h2{
    font-size: 30px;
    margin-bottom: 7px;
    padding:1px 30px ;
}
.feature div img{
    width:350px;
    height: 250px;
    padding: 5px 30px;
    
}
.feature div p{
    margin-top: 5px;
    font-size: 18px;
    text-align: justify;
    width: 350px;
    padding: 1px 30px;
}
/* Our feature section end */

/* About us secyion start */
.about{ 
    width: 100%;
    height: auto;
    padding: 60px 200px;
    color: #fff;
    background: #022D7C;
    text-align: center;
    margin-top: 10px;
}
.about h2{
    font-size: 33px;
    margin-bottom: 7px;
}
.about p{
    font-size: 18px;
    font-weight: normal;
}
.about button{
    color: #fff;
    padding: 15px 120px;
    font-weight: bold;
    margin-top: 10px;
    background: #022d7c;
    border: 2px solid #fff;
    border-radius: 4px;
}
/* About us secyion end */
/* Service section start */
.service{
    width:100%;
    height: auto;
    padding: 0px 100px;

}
.service .upper, .service .lower{
    display: flex;
    align-items: center;

}
.service .image, .service .content{
    width: 50%;
    
}
.service .upper .content{
    margin-left: 20px;
    
}
.service .image img{
    width: 460px;
    height: 350px;
    
}
/* Service section end */
/* Footer section start  */
footer{
    width: 100%;
    height: auto;
    color: #fff;
    padding: 25px 100px;
    margin-top: 50px;
    text-align: center;
    background: #022D7C;
}
/* Footer section start  */
/* Media query section start*/
@media screen and (width:1200px){

    .feature{
        width: 100%;
    }
    .feature div img{
        width: 320px;
    }
    .feature div p{
        width: 320px;
    }
    .service .image img{
        width: 500px;
    }
}
@media screen and (width:992px){
    header{
        padding: 10px;
    }
    header h2{
        font-size: 20px;
    }
    .banner{
        padding: 10px;
    }
    .banner h1{
        padding-left: 50px;
        font-size:45px;
    }
    .banner h1 span{
        font-size: 69px;
    }
    .feature{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }
     .feature div{
        padding-bottom: 445px;
     }
     .feature div img{
        width:500px;
        height: 300px;
     } 
     .feature div p{
        width: 490px;
        
     }
     .about{
        padding: 20px;
     }
     .service{
        
        padding: 10px;
        flex-direction: column;
        align-items:center;
        

     }
     .service .upper, .service .lower{
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
     .service .image, 
     .service .content{
        width: auto;
        
        
     }
     .service .image{
        
        padding-left: 30px;
     }
     .service .content {
        width: 650px;
        padding: 20px  50px;


     };
     .service .upper .image{
    margin-bottom: 0px;
     }
     .service .upper .content{
        padding-left: 200px;
        

     }
     .service .lower .content {
        padding-left: 80px;
     }
     
}
@media screen and (width:768px){
header{
    width: 119%;
    margin: 0px;
    padding: 0px;
}
header h2{
    padding: 5px 15px;
    font-size: 20px;
}

.banner{
    width: 119%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.banner main{
    padding: 0px 20px;
}
.banner main h1{
    font-size: 44px;
}
.banner main h1 span{
    font-size: 65px;
    font-weight: bold;
}
.banner aside{
    margin-right: 20px;
}
.feature{
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature div{
    margin-right:  70px;
    margin-left: 0px;
    padding-left: 0px;
    
}
.feature div img{
    width: 500px;
}
.feature div h2{
    font-size: 30px;
}
.feature div p{
    width: 500px;
}
.about{
    width: 119%;
    
}
.about p{
    padding: 3px 0px;
}
.service{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.service .upper, .service .lower{
     flex-direction: column;
     padding: 5px 20px;
}
.service .content{
    width: 600px;
    text-align: justify;
    
}
.service .upper .content{
    
    margin-left: 80px;
}
.service .lower .content{
    margin-left: 235px;
    
}
footer{
    width: 119%;
}

}
@media screen and (width:576px){
    header{
        width:150%;
        padding: 0px;
        margin: 0px;
    }
    header h2{
        font-size: 20px;
        padding: 5px 40px;
        
    }
    .banner{
        width: 150%;
        padding: 0px;
        margin: 0px;
        flex-direction: column;
        height: 800px;
    }
    .banner main{

        padding-top: 30px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .banner aside{
        padding-top: 10px;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .feature{
        width: 127%;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .feature div{
        margin-left: -130px;
        padding-left: 0px;
    }
    .feature div img,.feature div p{
        width: 500px;
        
    }
    .about{
        width: 150%;
        padding: 0px;
        margin: 0px;
        padding:15px 10px;
    }
    .service{
        padding: 0px;
        margin: 0px;
    
    }
    .service .upper, .service .lower{
        flex-direction: column;
    }
    .service .upper .content,.service .lower .content{
        width: 600px;
    }
    .service .upper .content{
        margin-left: 150px;
        padding-bottom: 20px;
    }
    .service .lower .content{
        margin-left: 309px;
    }
    footer{
        width: 150%;
    }
}
/* Media query section end*/












